@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}
header {
   background: #d5dae0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1302px;
    margin: 0 auto;
    height: 80px;
    
}

.logo img {
    width: 100%;
    /* Adjust the logo size as needed */
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #292929;
    
       
        line-height: 24px;
     
}

.nav-links .active {
    font-weight: bold;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 44px;
}

.nav-icons a img {
    width: 20px;
    height: 20px;
}
.breadcrumb {
    color: #000;
    
       
        line-height: 24px;
   
    margin-left: 120px;
    margin-top: 32px;
    margin-bottom: 16px;
}
.product-container {
  display: flex;
  justify-content: space-between;
  gap: 62px;
  background-color: white;
  max-width: 1336px;
  margin: 20px 0;
}

.main-image {
  width: 648px;
  max-height: 552px;
  overflow: hidden;
}
.main-image img {
  width: 100%;
  border-top-right-radius: 26px;
}

.thumbnail-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 26px;
}

.thumbnail-gallery img {
  width: 100%;
  border-top-right-radius: 36px;
  max-height: 130px;
}

.product-details {
  flex: 1;
  padding-left: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.description {
color:  #4F4F4F;


    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
    /* 150% */
}

.price {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.voucher-link {
  color: #c4b69c;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.024px;
  text-decoration-line: underline;
}

.quantity-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.quantity-selector span {
  background-color: #f1f1f1;
  padding: 14px 19px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #c4b69c;

  color: #c4b69c;

  font-weight: 700;
}
.quantity-selector-active {
  color: #393939 !important;
  border: 1px solid #c4b69c;
  background-color: #c4b69c !important;
}
.order-button,
.cart-button {
display: flex;
    width: 588px;
    padding: 12px 200px;
    justify-content: center;
    align-items: center;
   padding: 12px 0;
  font-size: 16px;
color:  #FFF;


border-radius: 8px;


    font-weight: 700;

  background-color: #c8b399;
  border: none;

  cursor: pointer;
  margin-right: 10px;
  margin-top: 12px;
}

.cart-button {
  background-color: #ffffff !important;

    border: 1px solid  #DED0B6;
    color: #C4B69C;
    
      
 
  
 
  
}

.order-button:hover,
.cart-button:hover {
  opacity: 0.8;
}

.back-link {
  display: block;
  text-align: center;
  margin: 20px 0;
  color: #888;
  text-decoration: underline;
}

/* ====================================FOOTER=============================== */
footer {
    margin-top: 44px;
    padding: 50px 0;
    background:  #C4B69C;
}
.footer-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px;
}
.footer-item-heading {
    color: #000;
       
        font-size: 24px;
        
        font-weight: 450;
       
        /* 28.8px */
        margin-bottom: 18px;
}
.footer-item > p {
    color:  #000;
    margin-bottom: 16px;
        /* 19.2px */
}

.footer-copyright {
    max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
    margin-top: 74px;
    color: #000;
       
        font-size: 20px;
       
        font-weight: 450;
      display: flex;
      align-items: center;
      justify-content: space-between;
        /* 24px */
}